* {
    margin:0;
    padding: 0;
}

header {
    background-color:rgb(37, 37, 37);
    display:flex;
    align-items: center;
}

header h2 {
    color:white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding:10px 30px;
}

ul {
    display:flex;
    align-items: center;
    list-style:none;
}

ul li {
    padding:0px 30px;
}

header ul li a {
    text-decoration:none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
}

button {
    background-color:rgb(10, 156, 253);
    height:30px;
    width:80px;
    border:none;
    color:white;
}

#but-container {
    position:absolute;
    right:5%;
}

.splash {
    background-color:white;
    width:100%;
    height:600px;
    background-image:url("bald blake folder/adult-blur-camera-368893.jpg");
    background-repeat: no-repeat;
    background-size:1500px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.splash h1 {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:65px;
    padding-left:300px;
}

.splash div {
    background-color:rgb(10, 156, 253);
    position: absolute;;
    width:5px;
    height:230px;
    top:29%;
    right:52%;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section h3 {
    padding:30px 0px 40px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
}

section p {
    font-family: 'Montserrat', sans-serif;
    line-height:30px;
    font-size:15px;
    margin: 0px 400px;
}

section div {
    padding:40px 0px;
}

#button-port {
    background-color:rgb(37, 37, 37);
    width:200px;
    font-size: 15px;
}

li:hover {
    transform:scale(1.2)
}

section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    text-transform:uppercase;
    font-weight:400;
    padding-top:50px;
}



.img_container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 250px;
}

a {
    text-decoration: none;
    color: white;
}